body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  height: 100vh;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}
.navBar {
  background-color: #85262d;
  display: flex;
  padding: 5px;
  height: 60px;
  align-items: center;
}

.title-nav {
  flex-grow: 4;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.input-city {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-right: 10px;
}

.search-city {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.app-container {
  width: 100%;
  height: 100%;
  background-position: center;
}

.home-container {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-home {
  color: white;
  font-size: 3em;
  font-family: monos;
}

.search-container-home {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  margin-bottom: 10px;
}
